In [2]:
import spacy

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [5]:
doc = nlp("Maayeesha gave her friend $2500")

In [6]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Maayeesha  |  PERSON
2500  |  MONEY

In [7]:
from spacy import displacy
displacy.render(doc,style="ent")

In [8]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [11]:
doc = nlp("Maayeesha Co-founded Farmineers in 2019")
for ent in doc.ents:
    print(ent.text," | ", ent.label_, " | ", spacy.explain(ent.label_))

Maayeesha Co-founded  |  PERSON  |  People, including fictional
Farmineers  |  ORG  |  Companies, agencies, institutions, etc.
2019  |  DATE  |  Absolute or relative dates or periods

In [15]:
doc[0:3]

Maayeesha Co-

In [ ]:
from spacy.tokens import Span
s1 = Span()

In [16]:
#Exercise 1
text = nlp("Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar, in Bihar it is Litti Chowkha and so on for all other states")

In [24]:
places = []
for ent in text.ents:
    if ent.label_ == "GPE":
        places.append(ent.text)
        
places

['India',
 'Delhi',
 'Gujarat',
 'Tamilnadu',
 'Pongal',
 'Andhrapradesh',
 'Assam',
 'Bihar']

In [29]:
#Exercise 2
text = nlp( """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974.""")

In [30]:
bday = []
for ent in text.ents:
    if ent.label_ == "DATE":
        bday.append(ent.text)
bday

['24 April 1973', '5 November 1988', '7 July 1981', '19 December 1974']